[package]
name = "ep2pc"
version = "0.1.0"
edition = "2021"

[workspace]
members = [
    "discovery",
    "peer",
    "repo",
    "settings"
]

[dependencies.settings]
path = "settings"

[dependencies]
